# Bionicle Set Data Evaluation

## Context

Bionicle (stylized as BIONICLE) was a Lego theme initally released in 2001 and ran until 2010. The theme differed from many other LEGO themes in that it was not a brick based system primary focused around buildings and vehicals, but rather used specalized, technic-based pieces to construct action figures similar in size to Barbie or GI Joe. It was also unique in that it had a dedicated story centering around a group of heroic individuals (typically reffered to as 'Toa') using magical masks, elemental powers (such as fire, stone, water, etc.) and various weapons to combat the malevolent, shadow-weilding 'Makuta'. This focus on story deviated from other Lego lines that primarly encourgaed customers to use their imagination to create plot points, backstories, etc. For more information on the story, please visit the Bionicle Sector 01 wiki here: https://biosector01.com

## Purpose (WIP)

The focus of this Notebook and all accomapning materials is to provide a breakdown of the BIONICLE line and evaluate each individual sets piece count, price point, color usage among other factors. For this work, we will be using the 'LEGO Database' dataset, which was obtained from the following location: https://www.kaggle.com/datasets/rtatman/lego-database. This dataset encompasses all Lego sets, themes, and colors used from the years 1949-2017. While many sets have been released since then, this list encompasses all offically released Bionicle sets, and as such, is suitable for this work.

NOTE: Bionicle was rebooted for a brief period in 2015-2016. This analysis will make sure to denote all sets released from 2001-2010 as 'Gen 1', and all sets released from 2015-2016 as 'Gen 2'.

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
%matplotlib inline

In [19]:
legosets_df = pd.read_csv("./sets.csv")
legothemes_df = pd.read_csv("./xthemes.csv")

In [20]:
legothemes_df.loc[legothemes_df['name'] == 'Bionicle']

      id      name  parent_id
323  324  Bionicle        NaN
425  426  Bionicle      425.0

In [21]:
legosets_df.head(5)

  set_num                        name  year  theme_id  num_parts
0    00-1             Weetabix Castle  1970       414        471
1  0011-2           Town Mini-Figures  1978        84         12
2  0011-3  Castle 2 for 1 Bonus Offer  1987       199          2
3  0012-1          Space Mini-Figures  1979       143         12
4  0013-1          Space Mini-Figures  1979       143         12

In [29]:
legosets_df.loc[legosets_df['theme_id']==324]

,set_num,name,year,theme_id,num_parts
51,10023-1,Master Builder Set,2002,324,112
911,1441-1,Fikou (Tree-Spider),2003,324,13
1351,20005-1,Winged Rahi (Klakk),2008,324,38
1359,20012-1,Click,2009,324,33
4695,5002941-1,Bionicle Hero Pack,2015,324,6
...,...,...,...,...,...
11063,BIO601601-1,Scorpion,2016,324,19
11064,BIO601602-1,Ekimu Falcon,2016,324,29
11129,comcon042-1,Tahu Mask - New York Comic-Con 2014 Exclusive,2014,324,1
11314,K8533-1,Find the Power BIONICLE Kit,2001,324,9
11316,K8564-1,Ultimate Bohrok Swarm Kit,2002,324,12

In [31]:
bio_df = legosets_df.loc[legosets_df['theme_id']==324]

In [39]:
bio_df.head(25)

,set_num,name,year,theme_id,num_parts
51,10023-1,Master Builder Set,2002,324,112
911,1441-1,Fikou (Tree-Spider),2003,324,13
1351,20005-1,Winged Rahi (Klakk),2008,324,38
1359,20012-1,Click,2009,324,33
4695,5002941-1,Bionicle Hero Pack,2015,324,6
...,...,...,...,...,...
11063,BIO601601-1,Scorpion,2016,324,19
11064,BIO601602-1,Ekimu Falcon,2016,324,29
11129,comcon042-1,Tahu Mask - New York Comic-Con 2014 Exclusive,2014,324,1
11314,K8533-1,Find the Power BIONICLE Kit,2001,324,9
11316,K8564-1,Ultimate Bohrok Swarm Kit,2002,324,12

In [44]:
bio_df.loc[bio_df['year']==2001]

       set_num                         name  year  theme_id  num_parts
11314  K8533-1  Find the Power BIONICLE Kit  2001       324          9

In [46]:
legosets_df.loc[legosets_df['name'].str.contains('Tahu')]

,set_num,name,year,theme_id,num_parts
7252,70787-1,Tahu - Master of Fire,2015,362,89
7616,7116-1,Tahu,2010,345,19
7690,71308-1,Tahu Uniter of Fire,2016,324,132
9749,8534-1,Tahu,2001,348,33
9750,8534-2,Tahu - With mini CD-ROM,2001,348,34
9824,8572-1,Tahu Nuva,2002,354,36
9992,8689-1,Toa Tahu,2008,338,73
11129,comcon042-1,Tahu Mask - New York Comic-Con 2014 Exclusive,2014,324,1